.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}

.link {
  text-decoration: none;
  padding: 4px 8px;
  text-transform: uppercase;
  color: #8d8d8d;
  transition: 0.3s ease-in;
}

.link:hover {
  color: #ffdd40;
  text-decoration: none;
}
