.container {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 60px;
}

.headline {
  text-transform: uppercase;
  width: 180px;
  color: #333333;
  font-size: 50px;
  border-bottom: 4px solid #ffdd40;
  margin-bottom: 60px;
}

.gallery {
  width: 1200px;
}

.wishes {
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  width: 740px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1em;
  font-style: italic;
}

.chef {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
}

.chef > span {
  margin-top: 30px;
}
