.container {
  display: flex;
  width: 100%;
  margin-left: 28px;
  margin-top: 40px;
}

.select {
  font-size: 20px;
  width: 230px;
  background: #212121;
  color: #ffdd40;
  text-transform: lowercase;
  padding-top: 5px;
  border-radius: 5px;
  border: 3px solid #ffdd40;
  transition: 0.3s ease-in;
}

.select > option {
  padding-top: 5px;
}

.select > option:hover {
  background: #fff;
}
