.userMenu {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.userName {
  font-size: 15px;
  user-select: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #8d8d8d;
}
