.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.logo {
  margin-right: 16px;
}

.userMenu {
  margin-left: auto;
}
