.nav {
  margin-left: 320px;
  margin-top: 15px;
}

.list {
  display: flex;
  list-style: none;
}

.cartContainer {
  margin-left: 15px;
}

.link {
  text-decoration: none;
  padding: 4px 8px;
  color: #8d8d8d;
  text-transform: uppercase;
  transition: 0.3s ease-in;
  margin-right: 10px;
  font-size: 15px;
}

.list > li:nth-last-child(4) {
  border-right: 1px solid #8d8d8d;
}

.list > li > a:hover {
  color: #ffdd40;
  text-decoration: none;
}

.list > li:nth-child(7) > a {
  border-right: 1px solid #8d8d8d;
}
