:global(html) {
  box-sizing: border-box;
}

:global(*, *::before, *::after) {
  box-sizing: inherit;
}

:global(body) {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  list-style: none;
  font-weight: bold;
  color: #212121;
}

:global(button) {
  cursor: pointer;
}

:global(button, input) {
  font-family: inherit;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 80px;
}
