.container {
  height: 75px;
  color: #212121;
  border-top: 1px solid #212121;
  background: #ffdd40;
}
.row {
  text-align: center;
  align-items: center;
  height: 79px;
  font-weight: normal;
}
.icon {
  margin-right: 5px;
  font-size: 17px;
}
